<div id="step-1" class="panel">
    <div class="title primary">
        Class List
    </div>
    <form action="/build/" method="post" enctype="multipart/form-data" id="form__build">
      <div class="panel-content">
        <h3>Input File</h3>
        <input id="f" name="file" type="file"><div class="line"></div>
        <!--<input type="text" placeholder="Thing" name="thing" value="thung"/>-->
      </div>
      <div class="panel-action">
        <input class="btn" type="submit" value="Build Directed Graph">
        <input class="btn" type="reset" value="Clear">
      </div>
      <div class="loading hidden"></div>
    </form>
</div>
<div id="step-2" class="panel hidden">
    <div class="title primary">
        Class to Recompile
    </div>
    <form action="/order" method="get">
      <div class="panel-content">
        <select name="recompile"><div class="line"></div>
      </div>
      <div class="panel-action">
        <input class="btn" type="submit" value="Topological Order">
        <input class="btn" type="reset" value="Clear">
      </div>
      <div class="loading hidden"></div>
    </form>
</div>
<div id="step-3" class="panel hidden result">
    <div class="title secondary">
        Recompilation Order
    </div>
    <div class="panel-content">
      <div class="result__value"></div>
    </div>
</div>
